name: Continuous Integration

on:
  push:
    branches: [main]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Node.js
      uses: actions/setup-node@v3
      with:
        node-version: '16.x'
        cache: 'npm'

    - name: Install dependencies
      run: npm ci
    - name: Run linting
      run: npm run lint
      
    # Customize the steps based on your project's requirements
